body {
    margin: 20px;
    padding: 10px;
    font-family: SofiaSansSemiCondensed-Regular;
    background-color: rgb(206, 231, 235);
  }
  
  @font-face {
    font-family: SofiaSansSemiCondensed-Regular;
    src: url(/SofiaSansSemiCondensed-Regular.ttf);
  }
  
  .dob label,
  .weight label,
  .gender label,
  .height label,
  .firstname label,
  .lastname label,
  .activity-level label,
  .pwd label {
    line-height: 2;
  }
  
  select.gender {
    width: 153px;
    height: 33px;
    outline: none;
    border: 1px solid #808080;
  }
  select.activity-level {
    width: 350px;
    height: 35px;
    outline: none;
  }
  
  p.terms-condition {
    font-size: 10px;
  }
  
  p.terms-condition a {
    color: rgb(41, 170, 95);
  }
  input.pwd {
    width: 340px;
    height: 30px;
    outline: none;
    border: 1px solid #808080;
  }
  
  input.submit {
    width: 345px;
    height: 35px;
    outline: none;
    background-color: rgb(41, 170, 95);
    color: white;
    border: none;
  }
  
  p.eye {
    position: absolute;
    margin-left: 320px;
    margin-top: -30px;
    z-index: 2;
  }
  
  label {
    padding-bottom: 10px;
  }
  
  input.name {
    width: 238px;
    border: 1px solid #808080;
    height: 48px;
    outline: none;
  }
  input.gender {
    width: 238px;
    border: 1px solid #808080;
    height: 48px;
    outline: none;
  }
  input.dob {
    width: 238px;
    border: 1px solid #808080;
    height: 48px;
    outline: none;
  }
  input.height {
    width: 238px;
    border: 1px solid #808080;
    height: 48px;
    outline: none;
  }
  input.weight {
    width: 238px;
    border: 1px solid #808080;
    height: 48px;
    outline: none;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  main img.Icon {
    width: 80px;
    height: 80px;
  }
  
  main p.sb-head {
    font-size: 30px;
    color: black;
    font-weight: bold;
  }
  
  main p.sb-content {
    font-size: 15px;
    color: rgb(73, 70, 70);
  }
  
  main .sign-up-form form {
    display: flex;
    background-color: white;
    height: 679px;
    width: 580px;
    top: 81px;
    left: 720px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px 8px #0408131A;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 15px;
    flex-wrap: wrap;
  }
  
  @media only screen and (max-width: 767px) and (min-width: 375px) {
    main {
      flex-direction: column; 
    }
    main .sign-up-form form {
      width: 100%;
    }
    main p.sb-head {
      font-size: 40px;
    }
    main p.sb-content {
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .site-title {
      font-size: 80%;
      width: 80%;
      height: 80%;
      flex-wrap: nowrap;
    }
  }
  